x-base-config: &base-config
  restart: always
  logging:
    driver: "json-file"
    options:
      max-size: "10m"
      max-file: "3"
  networks:
    - vllm-network

services:
  nginx:
    container_name: nginx
    image: nginx:latest
    volumes:
      - ./nginx_config/nginx.conf:/etc/nginx/nginx.conf:ro
      # - ./certbot/conf:/etc/letsencrypt:ro
      # - ./certbot/www:/var/www/certbot:ro
    ports:
      - 80:80
        #- 443:443
    deploy:
      resources:
        limits:
          memory: 512M
        reservations:
          memory: 256M
    <<: *base-config

  frontend:
    container_name: frontend
    build:
      context: ./frontend
      dockerfile: Dockerfile
    networks:
      - vllm-network
    restart: always

networks:
  vllm-network:
    external: true
    name: vllm-server_vllm-network
